
<div class="container1">
    <div class="col-md-9 card1">
        <td id='<%= messages[0].mtitle%>'><%= messages[0].mtitle %></td>
        <td id='<%= messages[0].mauthor%>'><%= messages[0].mauthor %></td>
        <td id='<%= messages[0].mtext%>'><%= messages[0].mtext %></td>
        <td id='<%= messages[0].mtimestamp%>'><%= messages[0].mtimestamp %></td>
    </div>
    
</div>
<style>
  .container1 {
        background-color: #000000;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .card1 {
        position: absolute;
        top: 20%;
        left: 12%;
        padding-top: 1em;
        background-color: #ffffff;
        text-align: center;
    }

    .submit {
        margin-top: 10px;
        display: inline-block;
        text-align: center;
        border: 1px solid #000000;
        color: #000000;
        width: 200px;
    }
</style>